# Mensaje personalizado de la API (con tu nombre)
MESSAGE=Hola, soy Leonardo - Laboratorio 02 Docker Compose

# Configuración de la Base de Datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_DB=laboratorio_db
POSTGRES_PORT=5432